.card__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.card {
  border: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 1px;
  margin: 16px 0;
  width: 250px;
  height: 400px;
  max-width: 600px;
  box-shadow: 0px 2px 5px rgba(23, 26, 31, 0.2),
    0px 0px 2px rgba(23, 26, 31, 0.2);
  overflow: hidden;
  position: relative;
}

.card__image {
  width: 100%;
  height: 50%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.card__name {
  margin: 10px 25px;
  color: black;
  font-size: 25px;
  font-weight: 800;
  font-family: 'DM Sans';
}

.card__description {
  margin: 5px 25px;
  color: black;
  font-size: 15px;
}
