.carousel__section {
  width: 100%;
  max-width: 1440px;
  height: 944px;
  background: #f3f4f6ff;
  border-radius: 0px;
  margin: 0 auto;
  padding-top: 96px;
  box-sizing: border-box;
}

.carousel__header {
  font-family: "DM Sans", sans-serif;
  font-size: 48px;
  line-height: 52px;
  font-weight: 400;
  color: #171a1fff;
  background: #f3f4f6ff;
  margin-bottom: 48px;
  margin-left: 140px;
}


