.footer {
    width: 100%;
    height: auto; /* Set to auto for flexible height */
    background-color: rgb(219, 219, 251);
    border-radius: 0px;
    padding: 20px; /* Add padding to prevent content from touching the edges */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }

  .footer__logo {
    height: auto;
    width: 145px;
    margin-bottom: 20px; /* Add margin for spacing */
  }

  .footer__description {
    font-size: 20px; /* Adjust font size for better readability */
    width: 80%; /* Full width for smaller screens */
    margin: 0 auto; /* Center horizontally */
    text-align: center; /* Center text */
    margin-bottom: 20px; /* Add margin for spacing */
  }

  .footer__input-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    margin: 0 auto; /* Center horizontally */
  }

  .footer__input-label {
    margin-bottom: 10px; /* Add margin for spacing */
    text-align: center; /* Center text */
  }

  .footer__input {
    width: 80%; /* Adjust width for smaller screens */
    max-width: 250px; /* Set a maximum width */
    height: 30px;
    border-radius: 15px;
    margin-bottom: 20px; /* Add margin for spacing */
  }

  .footer__copyright {
    text-align: center; /* Center text */
    margin: 20px 0 0 0; /* Add margin for spacing */
  }

  /* Media Queries for Mobile Devices */
  @media (max-width: 600px) {
    .footer__description {
      font-size: 14px; /* Smaller font size for mobile */
      width: 50%; /* Full width for smaller screens */
      text-align: center; /* Center text */
    }

    .footer__input {
      width: 90%; /* Full width for smaller screens */
    }
  }
